{% extends "basic.html" %}
{% block title %}
Add character
{% endblock %}

{% block content %}
<form method="POST" id="add-character-form" action="{% url 'history:add_character' %}">
    {% csrf_token %}
    {% for field in form %}
    <div class="row">
        <div class="input-field col s6 offset-s3">
        {{field}}
        {{field.label}}
        </div>
    </div>
    {% endfor %}

    <div class="row center-align">
        <button type="submit" class="btn waves-effect waves-light red">Add</button>
    </div>

    <div class="row center-align">
        {% if form.errors %}
            <p>{{ form.errors}}</p>
            {% comment %} <p class="red-text text-darken-2">Either username or password are invalid.</p> {% endcomment %}
        {% endif %}
    </div>
</form>

<script>
  options = {}
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.autocomplete');
    var instances = M.Autocomplete.init(elems, options);
  });
</script>
{% endblock %}