* {
    margin: 0px !important;
    padding: 0px !important;
 }

.navigation {
    height:75px;
    background: grey;
    display: grid;
    grid-template-columns: 40% 25% 25% auto;
    vertical-align: center;
}

.navis {
    text-align: center;
}

.page_title a {
    color: black;
}

.page_title {
    text-align: left;
}

body {
    text-align: center;
    background-color: lightgray;
}

