{% load static %}

<!DOCTYPE html>
<head>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


<nav class="nav-extended grey darken-3">
    <div class="nav-wrapper">
        <a href="{% url 'history:index' %}" class="brand-logo logo-font">RPG Tracker</a>
      <ul class="right hide-on-med-and-down">
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% if user.is_staff%}
                <li><a href="{% url 'admin:index'%}">Administration</a></li>
            {% endif %}
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register:signup' %}">Sign up</a></li>
    {% endif %}
      </ul>
    </div>
    <div class="nav-content center-align">
      <span class="nav-title logo-font">
        {% block title%}
        {% endblock %}
      </span>
      <a class="btn-floating btn-large halfway-fab waves-effect waves-light red dropdown-trigger" href="#" data-target="createdropdown">
        <i class="material-icons">add</i>
      </a>
      <ul id="createdropdown" class="dropdown-content">
        <li class="grey darken-3"><a href="#" class="center-align white-text">Session</a></li>
        <li class="grey darken-3"><a href="#" class="center-align white-text">Character</a></li>
      </ul>
    </div>
</nav>

<body class="grey lighten-1">
  <div class="row">
    <div class="col s8 offset-s2 center-align">
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var instances = M.Dropdown.init(elems, {'cover_Trigger':true});
    });
  </script>

</body>